{
    "credentials": {
        "email": "emal@domain",
		"password": "password"
    },
    "message": {
        "to": "emal@domain"
    },
    "extension": {
    	"path": "path/to/crx",
    	"id_locator": "#id"
    }
}